@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: #f7f1ee; */
}

html {
    scroll-behavior: smooth;
}

.red {
    color: #BC1722;
}



/* NAVIGARTION  */

.nav__window {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__figure {
}

.nav__img {
    width: 160px;
    cursor: pointer;
}

.nav__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__tab {
    padding-left: 30px;
    list-style-type: none;
}

.nav__tab--anchor {
    text-decoration: none;
    font-weight: 600;
    
}

.nav__tab--anchor:hover {

}

.black {
    color: black;
}


.nav__contact {
   
    list-style-type: none;
    cursor: not-allowed;
}

.nav__contact--text {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    cursor: not-allowed;
    border: 2px #BC1722;
    border-radius: 20px;
    background-color: #BC1722;
    margin: 0 24px;
    padding: 8px 20px;
    font-weight: 600;
}

.nav__contact--text:hover {
    background-color: rgb(200, 77, 77);
    transform: scale(1.05);
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
    transition: all .35s ease;
}

/* BODY 
 */

 .main__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0 200px;
    text-align: center;
    color: #BC1722;
    margin-top: 40px;
}

.main__title--second {
    justify-content: center;
    font-size: 26px;
    text-align: center;
    margin-top: 16px;
}

.search {
    display: flex;
    justify-content: center;
    margin: 32px 160px;
}


.search__btn {
    color: white;
    font-size: 14px;
    border: 2px #BC1722;
    border-radius: 8px;
    background-color: #BC1722;
    padding: 8px 40px;
    cursor: pointer;
}

.search__btn:hover {
    background-color: black;
}

.fa-search {
    font-size: 30px;
}

.search__input {
    max-width: 600px;
    margin-right: 10px;
    color: black;
    display: flex;
    align-items: center;
    border: 2px #BC1722;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
    padding: 16px 15px;
    font-weight: 600;
    width: 100%;
    margin: 0 12px;
    line-height: normal; 
}

.main__fig {
    display: flex;
    justify-content: center;
}

.main__img {
    width: 400px;
}

.news {
}



.news__img { 
    width: 100%;
    height: 250px;
    border-radius: 12px;
    cursor: pointer;
}

.news {
    margin: 20px 20px;
    width: 26%;
}

.texts {
    width: 100%;
    cursor: pointer;
}

.news__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin: 12px 0;
}

/* NEWS PAGE STYLES  */

.newspage__fig {
    display: flex;
    justify-content: center;
    height: 500px; 
}

.newspage__img {
    width: 100%;
    max-width: 800px;
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
}

.newspage__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0px 200px;
    width: 100%;
}

.description {
    margin-bottom: 20px;
}

.newspage__button {
    background-color: #BC1722; 
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* SMALL PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px){
    .nav__img{
        width: 100px;
    }
    .nav__tab{
        padding-left: 12px;
    }
    .nav__contact--text{
        margin: 0 12px;
    }
    .main__title{
        margin: 20px 60px;
        font-size: 40px;
    }
    .main__title--second{
        font-size: 20px;
        margin: 0 40px;

    }
    .search{
        margin: 32px 46px;
    }

    .news{
        width: 40%;
    }
    .newspage__fig{
        margin: 12px 40px;
    }
    .newspage__texts{
        padding: 0 140px;
    }
}

/* SMALL PHONES */

@media (max-width: 480px){
    .news{
        width: 80%;
    }
    .newspage__fig{
        margin: 16px 20px;
        height: 300px;
    }

    .newspage__texts{
        padding: 0 20px;
    }

    .nav__contact {
        display: none;
    }

    .main__img{
        width: 300px;
    }
    
}